<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel" class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
			</ol><!--/.carousel-indicators--> 
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(https://www.emptyengine.com/wp-content/uploads/2015/11/What-is-Digital-India.jpg);opacity:0.8;"> 
					<div class="carousel-caption"> 
						<div> 
							<h2 class="heading animated bounceInDown">Problems are just Challenges</h2> 
							<p class="animated bounceInUp">Lets find a soluntion</p> 
							<a class="btn btn-default slider-btn animated fadeIn" href="#">Explore !</a> 
						</div> 
					</div> 
				</div>
				<div class="item" style="background-image: url(https://i.ytimg.com/vi/rTzGMcOd8D0/maxresdefault.jpg)"> 
					<div class="carousel-caption"> <div> 
						<h2 class="heading animated bounceInDown">Lets make it a sport !</h2> 
						<p class="animated bounceInUp">Everything is outstanding </p> <a class="btn btn-default slider-btn animated fadeIn" href="#">Get Started</a> 
					</div> 
				</div> 
			</div> 
			<div class="item" style="background-image: url(http://ynetworks.in/wp-content/uploads/2014/10/digital-india.jpg);opacity:0.4;"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight">Prachana : Lets start playing !</h2> 
						<p class="animated bounceInLeft">Collaborative Solution Building</p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="#">Get Started</a> 
					</div> 
				</div> 
			</div>
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>	
	</div> 

</section><!--/#home-->
	
	

	<section id="blog"> 
						<div class="container">
							<div class="row text-center clearfix">
								<div class="col-sm-8 col-sm-offset-2">
									<a href="problems.html"><h2 class="title-one">Problems</h2></a>
									<p class="blog-heading">Problems are the place where innovation starts ! <br/>Hunt big, Innovate Big !</p>
								</div>
							</div> 
							<div class="row">
								<% @problems.each do |prob| %>
								<div class="col-sm-4">
									<div class="single-blog">
										<img src="images/blog/1.jpg" alt="" />
										<h2><%= link_to prob.pname , prob  %></h2>
										<ul class="post-meta">
											<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>
											<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2015</li>
										</ul>
										<div class="blog-content">
											<p><%= raw(prob.pstatement.first(100)) %></p>
										</div>
										<a href="/probs" class="btn btn-primary">Read More</a>
									</div>
									
								</div>
								<% end %>	
									</div> 
								</div> 
							</div> 
						</section> <!--/#blog-->

	<section id="services" class="parallax-section">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="title-one">Solutions</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="our-service">
						<div class="services row">
							<% @solns.each do |soln| %>
							<div class="col-sm-4">
								<div class="single-service">
									<i class=" fa fa-hourglass-start "></i>
									<h2><%= link_to soln.solnname , soln  %></h2>
									<p><%= raw(soln.solntext.first(250)) %></p>
								</div>
							</div>
							<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/#service-->

		<section id="our-team">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="title-one">Challenges</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
					</div>
				</div>
				<div id="team-carousel" class="carousel slide" data-interval="false">
					<a class="member-left" href="#team-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
					<a class="member-right" href="#team-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					<div class="carousel-inner team-members">
						<div class="row item active">
						<% @challenges.each do |challenge| %>	
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="http://www.clker.com/cliparts/f/A/y/K/p/Q/solution-md.png" />
									<h4><%=  link_to challenge.chalname, challenge %></h4>
									<h5>Rs.<%= challenge.chalprize %></h5>
									<p><%= raw(challenge.chaltext.first(150)) %></p>
								</div>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</section><!--/#Our-Team-->

					

						<section id="contact">
							<div class="container">
								<div class="row text-center clearfix">
									<div class="col-sm-8 col-sm-offset-2">
										<div class="contact-heading">
											<h2 class="title-one">Contact With Us</h2>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="contact-details">
									<div class="pattern"></div>
									<div class="row text-center clearfix">
										<div class="col-sm-6">
											<div class="contact-address"><address><p><span>Devs</span>Cluster</p><strong>36 North Kafrul<br>ka Cantonment Area<br> BaDhaka-1206, India</strong><br><small>( Lorem ipsum dolor sit amet, consectetuer adipiscing elit )</small></address>
												<div class="social-icons">
													<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a>
													<a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>
													<a href="#"><i class="fa fa-linkedin"></i></a>
												</div>
											</div>
										</div>
										<div class="col-sm-6"> 
											<div id="contact-form-section">
												<div class="status alert alert-success" style="display: none"></div>
												<form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
													<div class="form-group">
														<input type="text" name="name" class="form-control name-field" required="required" placeholder="Your Name"></div>
														<div class="form-group">
															<input type="email" name="email" class="form-control mail-field" required="required" placeholder="Your Email">
														</div> 
														<div class="form-group">
															<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
														</div> 
														<div class="form-group">
															<button type="submit" class="btn btn-primary">Send</button>
														</div>
													</form> 
												</div>
											</div>
										</div>
									</div>
								</div> 
							</section> <!--/#contact-->