<div class='row mt'>
  <div class='col-sm-12'>
    <h2><%= "Diff between Version #{@version_id} and Current Version" %></h2>
    <style><%= Diffy::CSS %></style>
    <div class='well diff'>
      <p>
        <strong>Content:</strong>
        <%= diff(@version.reify.solntext, @soln.solntext) %>
      </p>
    </div>
    <p>
    <%= "Version authored by #{find_version_author_name(@version)} on #{@version.created_at} by '#{@version.event.humanize}'." %>
    </p>
  </div>
</div>
<div class='fr'>
  <%= link_to 'Back', edit_soln_path(@soln), class: 'btn btn-danger' %>
  <%= link_to 'Rollback', rollback_soln_version_path(@soln, @version), class: 'b