<%= simple_form_for(@prob) do |f| %>
  <%= f.error_notification %>
  <div class="container">
    <div class="form-inputs">
      <%= f.input :pname %>
      <%= f.text_area :pstatement, :class => 'ckeditor' %>
      <%= f.input :pid %>
      <%= f.input :pdate %>
      <%= f.input :person %>
      <%= f.input :votes %>
      <%= f.input :rateing %>
      <%= f.input :points %>
      <%= f.input :tag %>
      <%= f.input :probstatus %>
      <%= f.input :emp %>
      <%= f.input :sym %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
