<p id="notice"><%= notice %></p>

<p>
  <strong>Pname:</strong>
  <%= @prob.pname %>
</p>

<p>
  <strong>Pstatement:</strong>
  <%= @prob.pstatement %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @prob.pid %>
</p>

<p>
  <strong>Pdate:</strong>
  <%= @prob.pdate %>
</p>

<p>
  <strong>Person:</strong>
  <%= @prob.person %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @prob.votes %>
</p>

<p>
  <strong>Rateing:</strong>
  <%= @prob.rateing %>
</p>

<p>
  <strong>Points:</strong>
  <%= @prob.points %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @prob.tag %>
</p>

<p>
  <strong>Probstatus:</strong>
  <%= @prob.probstatus %>
</p>

<p>
  <strong>Emp:</strong>
  <%= @prob.emp %>
</p>

<p>
  <strong>Sym:</strong>
  <%= @prob.sym %>
</p>

<%= link_to 'Edit', edit_prob_path(@prob) %> |
<%= link_to 'Back', probs_path %>


<h2>Versions of this problem : </h2>
<% @prob.vprobs.each do |comment| %>
  <p>
    <strong>Version:</strong>
    <%= comment.pversion %>
  </p>
 
  <p>
    <strong>Date:</strong>
    <%= comment.pvdate %>
  </p>
<% end %>
<%= form_for([@prob, @prob.vprobs.build]) do |f| %>
  <p>
    <%= f.label :VersionName %><br>
    <%= f.text_field :pvname %>
  </p>
  <p>
    <%= f.label :Version %><br>
    <%= f.text_area :pversion %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<h2>Solutions of this problem : </h2>
<% @prob.solns.each do |comment| %>
  <p>
    <strong>Soln:</strong>
    <%= comment.solntext %>
  </p>
 
  <p>
    <strong>SolnDate:</strong>
    <%= comment.solndate %>
  </p>
  <p>
    <strong>SolnRatings:</strong>
    <%= comment.solnrating %>
  </p>
  
<% end %>
<%= form_for([@prob, @prob.solns.build]) do |f| %>
  <p>
    <%= f.label :SolnName %><br>
    <%= f.text_field :solntext %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
