<p id="notice"><%= notice %></p>

<p>
  <strong>Pname:</strong>
  <%= @prob.pname %>
</p>

<p>
  <strong>Pstatement:</strong>
  <%= @prob.pstatement %>
</p>

<p>
  <strong>Pid:</strong>
  <%= @prob.pid %>
</p>

<p>
  <strong>Pdate:</strong>
  <%= @prob.pdate %>
</p>

<p>
  <strong>Person:</strong>
  <%= @prob.person %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @prob.votes %>
</p>

<p>
  <strong>Rateing:</strong>
  <%= @prob.rateing %>
</p>

<p>
  <strong>Points:</strong>
  <%= @prob.points %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @prob.tag %>
</p>

<p>
  <strong>Probstatus:</strong>
  <%= @prob.probstatus %>
</p>

<p>
  <strong>Emp:</strong>
  <%= @prob.emp %>
</p>

<p>
  <strong>Sym:</strong>
  <%= @prob.sym %>
</p>

<%= link_to 'Edit', edit_prob_path(@prob) %> |
<%= link_to 'Back', probs_path %>
