<p id="notice"><%= notice %></p>

<p>
  <strong>Pvname:</strong>
  <%= @vprob.pvname %>
</p>

<p>
  <strong>Pversion:</strong>
  <%= @vprob.pversion %>
</p>

<p>
  <strong>Pvauthor:</strong>
  <%= @vprob.pvauthor %>
</p>

<p>
  <strong>Pvid:</strong>
  <%= @vprob.pvid %>
</p>

<p>
  <strong>Pvdate:</strong>
  <%= @vprob.pvdate %>
</p>

<p>
  <strong>Pvinteger:</strong>
  <%= @vprob.pvinteger %>
</p>

<p>
  <strong>Prob:</strong>
  <%= @vprob.prob %>
</p>

<%= link_to 'Edit', edit_vprob_path(@vprob) %> |
<%= link_to 'Back', vprobs_path %>
